*{
    margin: 0;
    padding: 0;
}

#form{
    width: 750px;

   /*  height: 200px; */
    background: gray;
    margin:0 auto;
    padding: 30px;
    box-sizing: border-box;
}

#form-group{
    margin-top: 10px;

}



.form-group label{
font-size: 20px;
color: white;

}

.star{
    color: red;
}

.form-group input{
    display: block;
    width: 100%';
    box-sizing: border-box;
    box-shadow: inset 0px 0px 4px blue;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 8 px;
    /* transition: 5s; */
    
}

.form-group input:focus{
    box-shadow: inset 0px 0px 4px orange, 0px 0px 4px blue;
}

button{
    display: block;
    width: 25%;
    box-shadow: inset 0px 0px 4px blue, 0px 0px 4px orange;
    border: none;
    outline: none;
    border-radius: 18px;
    margin-top: 10px;
    padding: 10px; 
    text-decoration: aqua;
    cursor: pointer;

}